.login {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 1fr;
    grid-gap: 1px 1px;
    grid-template-areas: 'login__title' 'login__error' 'login__form';
    text-align: center;
    padding: 50px;
}

.login__title {
    grid-area: login__title;
}

.login__form {
    grid-area: login__form;
}

input[type='text'],
input[type='password'] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login__error {
    grid-area: login__error;
    color: tomato;
    font-size: 1.5em;
}

.login__button {
    cursor: pointer;
    padding: 10px;
    min-width: 200px;
    border: 5px solid darkblue;
    margin: 5px;
    color: darkslategrey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    transition: color 0.5s, background-color 0.5s;
}

.login__button:hover {
    color: white;
    background-color: black;
}
